/* General styles */

body {
  font-family: Arial, sans-serif;
}

/* Header styling */

header {
  background-color: lightgray;
  text-align: center;
}

/* Footer styling */

#footer {
  background-color: lightgray;
  text-align: center;
}

/* List styling */

ul {
  list-style: none;
}
img {
    width: 200px;   /* Sets the width to 200 pixels */
    height: auto;   /* Maintains the aspect ratio */
    margin: 20px;   /* Adds space around the image */
    border: 2px solid black; /* Adds a border */
}
